.header {
    background-color: none;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header nav ul {
    display: flex;
    list-style: none;
    padding-top: 5px;
    margin: 0;
    margin-left: auto;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: rgb(137, 67, 148);
}

nav {
    width: 100%; 
  }
  
  .buttons {
    display: flex;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    justify-content: flex-end;
  }

.buttons li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 13px; 
}

.buttons li a:hover {
    background-color: rgb(172, 112, 182);
    color: azure; 
    transition: background-color 0.8s ease, color 0.3s ease;
}
